{% extends './main.html' %}
{% block content %}

<!-- Sign In Section -->
<section class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 bg-white rounded-lg shadow-lg p-5">
      <!-- Sign In Section -->
      <h1 class="text-xl font-bold mb-4">Sign in to your account</h1>

      <!-- Sign In Form -->
      <form
        id="login-form"
        class="mb-4"
        hx-post="{% url 'account_login' %}"
        hx-trigger="submit"
        hx-push-url="true"
        hx-target="body"
      >
        {% csrf_token %}

        <!-- Display Non-field Errors -->
        <div class="mb-3">
          <p class="text-sm font-medium text-danger">
            {{ form.non_field_errors | safe }}
          </p>
          <!-- Email Input -->
          <div class="mb-3">
            <label for="id_login" class="form-label">Your email</label>
            <input
              type="email"
              name="login"
              id="id_login"
              class="form-control"
              placeholder="name@company.com"
              required
              autofocus
            />
          </div>

          <!-- Password Input -->
          <div class="mb-3">
            <label for="id_password" class="form-label">Password</label>
            <input
              type="password"
              name="password"
              id="id_password"
              placeholder="••••••••"
              class="form-control"
              required
            />
          </div>

          <!-- Remember Me Checkbox -->
          <div class="mb-3 form-check">
            <input
              id="id_remember"
              aria-describedby="remember"
              type="checkbox"
              class="form-check-input"
              required
            />
            <label for="id_remember" class="form-check-label">Remember me</label>
          </div>

          <!-- Forgot Password Link -->
          <a href="#" class="text-sm font-medium text-gray-400">Forgot password?</a>
        </div>

        <!-- Optional: Redirect Field -->
        {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}

        <!-- Sign In Button -->
        <button
          type="submit"
          class="btn btn-primary w-100"
        >
          Sign In
        </button>

        <!-- Sign Up Link -->
        <p class="text-sm text-muted mt-3">
          Don’t have an account yet?
          <a
            href="#"
            hx-get="{% url 'account_signup' %}"
            hx-target="body"
            hx-push-url="true"
            class="font-medium text-primary"
          >
            Sign up
          </a>
        </p>
      </form>
    </div>
    {% endblock content %}